/* The header line */

.head {
    margin: 0;
    padding: 0;
    height: 45px;
    weight: 100px;
    text-align: center;
    font-size: 2.35em;
    color: white;
    opacity: 0.9;
}

/* The text in the header */

a.ex1:hover,
a.ex1:active {
    color: white;
}

/* The headers texts effect */

nav a {
    outline: none;
    color: #fff;
    text-decoration: black;
    letter-spacing: 1px;
    text-shadow: 0 0 7px black;
}

nav a:hover,
nav a:focus {
    outline: none;
}

.ij-effect-1 a::before,
.ij-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.ij-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.ij-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.ij-effect-1 a:hover::before,
.ij-effect-1 a:hover::after,
.ij-effect-1 a:focus::before,
.ij-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/* The center box */

.center {
    margin: auto;
    width: 80%;
    border: 3px solid darkred;
    border-radius: 20px;
    background-color: white;
    height: 97vh;
    text-align: center;
    word-wrap: break-word;
    opacity: 0.8;
}

/* The page sharing starts here */

* {
    box-sizing: border-box;
}

/* This fixes the nav-bars' size */

.left {
    width: 7%;
    opacity: 0.9;
    position: fixed;
    padding-left: 22px;
}

.middle {
    padding: 10px;
    height: 100vh;
    background: url(img/white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    margin-left: 135px;
    width: 86%;
}

.main {
    text-align: center;
}


header,
footer {
    color: white;
    clear: left;
    height: auto;
    text-align: center;
}

/* This is the left-side menu */

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 80px;
    background-color: white;
    border: 2px solid darkred;
    border-radius: 10px;
}

li a {
    display: block;
    margin: auto;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    color: white;
}

li a:hover:not(.active) {
    background-color: red;
    color: white;
}

/* button */

.button {
    background-color: darkred;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* buttons */

.buttons {
    text-align: right;
    padding-right: 20px;
}

.button:hover {
    background: red;
}


/*-BENCE */

.title-col {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    width: 80%;
}

.pages-table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;

}

.publish {
    background-color: #21ad00;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.publish:hover,
.publish:active {
    background-color: #2cd804;
}

.unpublish {
    background-color: #ed0303;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.unpublish:hover,
.unpublish:active {
    background-color: red;
}

.button-col {
    vertical-align: middle;
    width: 15%;
    padding-right: 5px;
}

.name {
    font-size: 1.4em;
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.icon {
    width: 50px;
    height: 50px;
}


.user-table {
    width: 100%;
}

.user-name {
    font-size: 1.5em;
    color: white;
    width: 47%;
    text-align: right;
}

.user-role {
    font-size: 1.5em;
    color: white;
    width: 15%;
    text-align: right;
}

.logout-row {
    width: 38%;
    text-align: right;
    padding-right: 30px;
}
