.text {
    font-family: "Arial Black", Gadget, sans-serif;
}

.text h1 {
    margin: auto;
    width: 80%;
    border: 3px solid darkred;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    background: repeating-linear-gradient(45deg, red, darkred 7%, red 10%);
    letter-spacing: 10px;
    color: white
}

.text h2 {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    padding: 0.01em 16px;
}

.text h3 {
    text-align: left;
    padding: 0.01em 16px;
}

.text p {
    text-align: left;
    padding: 0.01em 16px;
    text-indent: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    padding-bottom: 40px;
}

.text-box {
    padding:8px;
    display:block;
    border:none;
    border: 2px solid  darkred;
    height: 160px;
    width:100%
}

.submit-button {
    width: 200px;
    text-align: center;
    background-color: darkred;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.submit-button:hover {
    opacity: 0.6
}

.container2 {
    font-family: "Arial Black", Gadget, sans-serif;
    padding:0.01em 16px;
}

.text p.score {
    text-align: right;
    font-weight: bold;
}


