.text {
    font-family: "Arial Black", Gadget, sans-serif;
}

.text h1{
    margin: auto;
    width: 80%;
    border: 3px solid  darkred;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    background: repeating-linear-gradient(45deg, red, darkred 7%, red 10%);
    letter-spacing: 10px;
    color: white
}

.text h2 {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    padding:0.01em 16px;
}

.text p{
    text-align: left;
    padding:0.01em 16px;
    text-indent: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
}