<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--
        In earlier versions (like version 2.x) of the Java Servlet API
        servlets, filters, etc. needed to be configured here, in the lms.xml
        file (lms deployment descriptor), but since version 3.x every configuration
        can be defined instead with annotations. For more search for information on
        "differences between java servlet api 2 and 3", etc.
    -->
    <resource-ref>
        <res-ref-name>jdbc/ip</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.codecool.lms.filter.AccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/users</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/submission</url-pattern>
        <url-pattern>/attendance</url-pattern>
        <url-pattern>/attend</url-pattern>
        <url-pattern>/create</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/github</url-pattern>
        <url-pattern>/gradeStatistics</url-pattern>
        <url-pattern>/grading</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/showpage</url-pattern>
    </filter-mapping>
</web-app>
